<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add new User to T1804M</title>
</head>
<body>
    <h1>Create New User</h1>
    <form th:object="${user}" th:action="@{save}" method="post">
        <label th:text="Name" th:for="name"></label>
        <input type="text" th:field="*{name}" placeholder="Name">

        <label th:text="Email" th:for="email"></label>
        <input type="text" th:field="*{email}" placeholder="Email">

        <label th:text="Phone" th:for="phone"></label>
        <input type="text" th:field="*{phone}" placeholder="Phone">

        <input type="submit" value="Save">
    </form>
</body>
</html>
