<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"><head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
    <form th:object="${user}" th:action="@{save}" method="post">
        <input type="hidden" th:field="*{id}">

        <label th:text="Name" th:for="name"></label>
        <input type="text" th:field="*{name}" placeholder="Name">

        <label th:text="Email" th:for="email"></label>
        <input type="text" th:field="*{email}" placeholder="Email">

        <label th:text="Phone" th:for="phone"></label>
        <input type="text" th:field="*{phone}" placeholder="Phone">

        <input type="submit" value="Save">
    </form>
</body>
</html>
